@font-face {
  font-family: 'hytmr55';
  // aliyun oss
  src: url('https://yahuiimg.oss-cn-hangzhou.aliyuncs.com/hytmr55.woff');
  // github
  // src: url('https://cdn.jsdelivr.net/gh/BestJarvan/pic-imgs/font/hytmr55.woff');
  font-display: swap;
}
body,
h1, h2, h3, h4, h5, h6 {
  font-family: 'hytmr55' !important;
}
// Variables Layer
// --------------------------------------------------
@import './_variables/index.styl';
// Mixins Layer
// --------------------------------------------------
@import './_mixins/index.styl';
// Common Layer
// --------------------------------------------------
@import './_common/index.styl';
// Custom Layer
// --------------------------------------------------
@import './_custom/index.styl';
